  <%= render :template => 'shared/left_column_help' ,:locals => {:active => 'help_home'}%>
  <%= render :template => "shared/top_bar_new" %>
  <% content_for :main_content do -%>

  <h1> CloudClass Help</h1>
  <div style="padding-top:25px">
    
  </div>

  <p>Welcome to CloudClass Help.Please select the topics from left coloumn.Or search for help in the search bar.If you need assistance ,please send a mail to support@cloudclass.co.in</p>

  <h3> All topics</h3>
  <div style="padding:15px">
    <ol>
              <%help_topics = HelpTopic.all%>
              <%help_topics.each do |topic|%>
                <li> <h4><%= link_to topic.name, "/help/show/topic/"+topic.id.to_s%></h4></li>
                <ul>
                <%topic.help_subtopics.each do |subtopic|%>
                  <li>
                    <%= link_to subtopic.content, '/help/show/subtopic/'+subtopic.id.to_s%>
                  </li>
                <% end -%>
                </ul>
              <% end -%>
    </ol>
  </div>
  <% end -%>
