<div section="section">
  <div class="full">
    <div class="box">
      <div class="title">
        <h2> All sessions for your institute </h2>
      </div>

      <div class="content">
       <table cellspacing="0" cellpadding="0" border="0" class="all">
            <thead>
              <tr>
                <th>Session Starts</th>
                <th>Session Ends</th>
                <th>Current Session</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Published 123 123 123</td>
                <td>26th August 2011</td>
                <td>First, Lastname</td>
              </tr>
            </tbody>
       </table>
        
      </div>
    </div>
    
  </div>
  
</div>
