<% content_for :breadcrumb do -%>
  
    <div class='subnav'>
      
    <div class="container">
    <div class="row">
      <div class="span2">
       </br>
      </div>
      <div class="span10">
        <a href="#">Home</a> <span class="divider">/</span>
        <a href="#">Library</a> <span class="divider">/</span>
      </div>
      
    </div>


    </div> <!-- /container -->
    </div>
<% end -%>
