
<% content_for :sidepic do -%>
            <a href="/help"> 
            <img src="<%= asset_path 'help_image.jpg' %>" class="sidepic">
            </a>
            </br>
            <div class="sidepic-spacer">
            </div>
<% end -%>

<% content_for :left_column do -%>
  
            <div class="leftcolumn">
              <a href="/help">
              <% if active == 'help_home' %>
                <div class="rowline-active">
              <% else %>
                <div class="rowline">
              <% end %>
                <img src="<%= asset_path 'ccihome.png' %>" class="thumbpic-small">  Help Home
              </div>
              </a>
              <%help_topics = HelpTopic.all%>
              <%help_topics.each do |topic|%>
                

              <a href="/help/show/topic/<%=topic.id.to_s%>">
              <% if active == topic.name.to_s.downcase %>
                <div class="rowline-active">
              <% else %>
                <div class="rowline">
              <% end %>
                 <%=topic.name%>
              </div>
              </a>

              <% end -%>
            </div>


<% end -%>
