<% content_for :sidepic do -%>
            <a href="/profile/<%=user.id.to_s%>"> 
            <img src="<%= asset_path get_profile_pic_for_user(user) %>" class="sidepic">
            </a>
            </br>
            <div class="sidepic-spacer">
            </div>
<% end -%>
