<% content_for :sidepic do -%>
            <a href="/profiles/<%=current_user.id.to_s%>/show"> 
            <img src="<%= asset_path get_profile_pic_for_user(current_user) %>" class="sidepic">
            </a>
            </br>
            <div class="sidepic-spacer">
            </div>
<% end -%>
