<div class="teachers_index" style="padding-top:25px">
  
<table class="table table-bordered table-striped">
  <thead>
    <th>Name</th>
    <th>Settings</th>
  </thead>
  <tbody>
    <% for teacher in teachers -%>
     <tr>
     <td><%= link_to teacher.print_name, '/profiles/'+teacher.id.to_s+'/show' %></td>
     <td><a href = "/profiles/<%=teacher.id.to_s%>/edit"> <i class="icon-asterisk"></i> Settings</a> </td>

     </tr>
    <% end -%>
  </tbody>
</table>
</div>
