  <%= render :template => 'shared/left_column' ,:locals => {:active => 'classes'}%>
   <% content_for :breadcrumb do -%>
       <a href="/classes">Classes</a> <span class="divider">/</span>
   <% end -%>
  <%= render :template => "shared/top_bar_new" %>
  <% content_for :main_content do -%>
       <div class="container">
        <div class="row">
          <div class="span3">
            <div class="btn-group">
            <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Add Classes
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/batch/new">Add a Class</a></li>
              <li class="divider"></li>
            </ul>
          </div>
            
          </div>
          <div class="span3">
          </div>

          <div class="span4">
            </br>
          </div>
          
        </div>
         
       </div>
        <%= render :template => 'shared/batches_index',:locals => {:batches => @batches} %>

  <% end -%>
