
  <%= render :template => 'shared/left_column' ,:locals => {:active => 'students'}%>
  <%= render :template => "shared/top_bar_new" %>
   <% content_for :breadcrumb do -%>
       <a href="/fees/schedule_index">Fee Collection Schedules</a> <span class="divider">/</span>
   <% end -%>

<% content_for :main_content do -%>
      <div class="title">
        <h2> Create new fees collection schedule </h2>
      </div>
      <%=render 'fee_collection_event_form'%>
<% end -%>
