  <%= render :template => 'shared/left_column' ,:locals => {:active => 'students'}%>
   <% content_for :breadcrumb do -%>
       <a href="/students">Students</a> <span class="divider">/</span>
   <% end -%>
  <%= render :template => "shared/top_bar_new" %>
  <% content_for :main_content do -%>
       <div class="container">
        <div class="row">
          <div class="span3">
            <div class="btn-group">
            <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Add Teachers
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/teachers/upload_file/new">Upload File</a></li>
              <li class="divider"></li>
              <li><a href="/teacher/new">Add Teacher</a></li>
            </ul>
          </div>
            
          </div>
          <div class="span3">
            <div class="btn-group">
            <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-asterisk"></i> Options
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/print/details/teachers.pdf" target="_blank">Print Details</a></li>
              <li><a href="/teacher/search">Search Teachers</a></li>
          </div>
          </div>

          <div class="span4">
            </br>
          </div>
          
        </div>
         
       </div>
       <div style="padding-top:25px">

      <div class="title">
        <h3> Type a few characters of the teacher name </h3>
      </div>
<form class="well form-search">
  <table>
   <tr>
   <td> <input type="text" class="input-large search-query teacher-search"> </td>
   <td>
  <div class="loading-image" style="display:none">
    <img src="<%=asset_path "ajax-loader.gif"%>"/>
  </div>
  </td>
  </table>
</form>

<div id="user-search-results">
  
</div>
         
       </div>

  <% end -%>
