            <div class="dashboard-reports">
            <div class="container">
              <div class="row">
                <div class="span5">
                  <%=render :template => 'reports/quick_stats_section'%>
                </div>

                <div class="span5">
                  <%=render :template => 'reports/attendance_dashboard_graph'%>
                </div>
                  
                </div>
                
              </div>
              
            </div>
            
          </div>

            <div class="dashboard-reports">
            <div class="container">
              <div class="row">
                <div class="span5">
                  <%=render :template => 'reports/performance_dashboard_graph'%>
                  
                </div>
                </div>

                <div class="span5">
                  <%=render :template => 'reports/messaging_dashboard_graph'%>
                  
                </div>
                
              </div>
              
            </div>
            
          </div>


