      <style type="text/css">
        .autocomplete {
          width:85%;
        }
      </style>
      <h3> Assign Class Teachers for sections</h3>
      <table class='table table-striped  table-bordered' >
          <%= form_tag('update',:multipart => true,:method => :post) do -%>
        <thead>
          <th> Class </th>
          <th>Subjects</th> 

        </thead>
        <tbody>
          
            <% for batch in  @institute.batches-%>
            <tr>
            <td> <%=batch.name%> </td>
            <td>
              <%= text_field_tag batch.id,nil,:class => "large" ,:class => 'autocomplete'  %>
            </td>
            </tr>
            
            <% end -%>


        
          </tbody>
      </table>
            <div class="form-actions">
              <%= submit_tag "Finish Setup" ,:class => 'btn btn-primary btn-large'%>
            </div>
          <% end -%>
      <script type='text/javascript'>
      $(document).ready(function () {
          $(".autocomplete").tokenInput("/default_subjects.js",{
            theme:"facebook"
          });
       });
        
      </script>
