            <div class="dashboard-reports">
            <div class="container">
              <div class="row">
                <div class="span5">
                  <%=render :template => 'reports/employee_details'%>
                </div>

                <div class="span5">
                  <%=render :template => 'reports/address_details'%>
                </div>
                  
                </div>
                
              </div>
              
            </div>


