
                  <div class="reporting-box">
                    <div class="title">
                      Fees Details
                    </div>
                    <div class="report-content" style="padding:3px;">
                        <%report = get_fees_report(@user,get_current_session)%>
                        <% if !report.nil? && report.size > 0 %>
                         <table class="table table-bordered table-striped">
                          <thead>
                            <th> Month </th>
                            <th> Fee Status  </th>
                          </thead>
                          <tbody>
                                <%report.keys.each do |month|%> 
          
                                   <tr>
                                    <td><%=month%></td>
                                  <td>
                                    <% if report[month] == true %>
                                      Paid
                                    <%else%>
                                      Not Paid
                                    <% end %>
                                  </td>
            
                                  </tr>
                              <% end -%>

                          </tbody>

                         </table>
                          
                        <% else %>
                          No Data Available.
                        <% end %>
                    </div>
                   </div>
