
                  <div class="reporting-box">
                    <div class="title">
                      Performance Reports
                    </div>
                    <div class="report-content">
                      <div id="attendance_chart_div" style="width: 100%; height: 100%;">
                        <div style="padding:10px">
                          <h4>Populating graph</h4>
                          <div class="login-image" align="center" style="padding-top:30px">
                              
                              <img src=<%= asset_path 'loading_medium.gif' %> />
                          </div>
                          
                        </div>
                      </div>
                    </div>
